.title {
    display: grid;
    justify-content: center;
}

.link {
    display: grid;
    justify-content: center;
    background-color: green;
    padding: 10px;
    color: white;
}

.description {
    display: grid;
    justify-content: center;
    font-style: italic;
}

.image {
    width: 500px;
    height: auto;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

ol>li{
    background-color: yellow;
}
ul>li {
    background-color: pink;
}

li {
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

h3, ol, ul {
    margin-right: 200px;
    margin-left: 200px;
}